@import "./variables";

.popup_content{
   background: #fff;

   h3{
      margin: 20px;
   }
}


.#{$prefix}-component{
   position: relative;
   min-width: 550px;
   min-height: 300px;
   padding: 20px;

   img{
      margin: auto;
   }
}
   .#{$prefix}-component__text{
      position: absolute;
      left: 0;
      top: 50%;
      text-align: center;
      width:100%;
      margin-top: -20px;
   }



.#{$prefix}-wrap-form{

   input[type=text],
   input[type=number],
   select{
      width: 100%;
      height: 40px;
      box-shadow: none;
      background: #fff;
      border: 1px solid #b9c4c9;
      border-radius: 6px;
      color: #00112c;

      &:focus{
         outline: none;
      }
   }

}


.#{$prefix}-installments-field{

   display: none;
   margin-top: 16px;

   label{
      color: #00112c;
      display: block;
      font-size: .81em;
      font-weight: 400;
      line-height: 13px;
      padding-bottom: 5px;
   }
}


.payment_method_woosa_adyen_alipay,
.payment_method_woosa_adyen_wechatpay,
.payment_method_woosa_adyen_boleto{
   img{
      max-width: 40px;
   }
}


##{$prefix}-googlepay-container{
   button{
      width: 100%;
   }

   .googlepay-description{
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      display: none;
   }
}

.adyen-checkout__voucher-result__actions{
   margin: 0;
   list-style: none;

   > li{
      margin: 0 0 5px 0;
   }
}
.adyen-checkout__button{
   display: block;
}


.woocommerce-checkout #payment {

   .#{$prefix}-stored-cards {

      border-radius: 7px;
      border: 1px solid #ddd;
      background: #fff;

      .#{$prefix}-stored-card{
         cursor: pointer;
         border-bottom: 1px solid #ddd;

         .#{$prefix}-stored-card__details{
            padding: 15px 15px 15px 65px;
            position: relative;

            span.dashicons,
            img{
               position: absolute;
               left: 15px;
               top: 15px;
               margin: 0;
               width: 40px;
            }

            span.dashicons{
               border: 0 !important;
               font-size: 26px;
               width: 30px;
               line-height: 30px;
               height: 30px;
            }
         }

         .#{$prefix}-stored-card__fields{
            padding: 15px;
         }

         &:last-child{
            border-bottom: 0;
         }

         &.selected{
            background: #f0f6ff;
         }
      }
   }

   ul.payment_methods li img.adyen-checkout__card__cardNumber__brandIcon { 
      position: absolute;
   }

   .#{$prefix}-payment-dropdown{
      width: 100%;
      height: 35px;
      background-color: transparent;
      height: 40px;
      background: 0 0;
      padding: 5px;
      cursor: pointer;
   }
}