@import "./variables";

.#{$prefix}-list-cards{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;

   .#{$prefix}-list-cards__item{
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 10px;

      .#{$prefix}-card-details{
         position: relative;
         padding: 10px;
         border: 1px solid #ddd;
         background: #fff;
         border-radius: 5px;

         .#{$prefix}-card-details__remove{
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 13px;
            color: $redColor;
            cursor: pointer;
            padding: 2px 5px;
            border-radius: 5px 0 0 5px;

            &:active,
            &:hover{
               color: #ffe5e5;
               background: #a30000;
            }
         }

         .#{$prefix}-card-details__number{
            font-size: 18px;
            font-weight: bold;
         }
      }
   }
}


.#{$prefix}-error-text{
   color: $redColor;
   font-style: italic;
}