@import "./variables.scss";

.#{$prefix}-logs{
   max-width: 800px;
   width: 100%;
   box-sizing: border-box;
}
   .#{$prefix}-logs__item{
      position: relative;
      border: 1px solid #ddd;
      border-top-width: 4px;
      background: #f5f5f5;
      margin-bottom: 10px;
      color: #757575;

      &.#{$prefix}-logs__item--active{
         background: #fff;
      }

      &:before{
         font-family: dashicons;
         display: inline-block;
         font-size: 20px;
         position: absolute;
         top: 10px;
         left: 5px;
      }
   }
   .#{$prefix}-logs__item:last-child{
      margin-bottom: 0;
   }


   .#{$prefix}-logs__item--error{
      border-color: #dc32326e;
   }
   .#{$prefix}-logs__item--warning{
      border-color: #ffb90073;
   }
   .#{$prefix}-logs__item--info{
      border-color: #00a0d278;
   }


.#{$prefix}-log-message{
   padding: 20px 10px;
   border-top: 1px dashed #ddd;
   border-bottom: 1px dashed #ddd;
}

.#{$prefix}-log-meta{
   padding: 10px;

   &::after{
      content: '';
      display: table;
      clear: both;
   }

   .#{$prefix}-log-date,
   .#{$prefix}-log-path,
   .#{$prefix}-log-code{
      font-size: 12px;
   }

   .#{$prefix}-log-code{
      line-height: 25px;
   }

   .#{$prefix}-log-path{
      font-size: 11px;
      font-style: italic;
      margin-bottom: 10px;
   }

   .#{$prefix}-log-action{
      opacity: 0.8;
   }
}


.#{$prefix}-log-actions__left,
.#{$prefix}-log-meta__left{
   float: left;
   width: 50%;
}

.#{$prefix}-log-actions__right,
.#{$prefix}-log-meta__right{
   float: right;
   width: 50%;
   text-align: right;
}



.#{$prefix}-log-actions{

   margin-bottom: 10px;

   &::after{
      content: '';
      display: table;
      clear: both;
   }
}


.#{$prefix}-logs__item--active{

   &.#{$prefix}-logs__item--error{
      border-color: #dc3232;

      .#{$prefix}-log-type{
         color: #dc3232;
      }
   }
   &.#{$prefix}-logs__item--warning{
      border-color: #ffb900;

      .#{$prefix}-log-type{
         color: #ffb900;
      }
   }
   &.#{$prefix}-logs__item--info{
      border-color: #00a0d2;
      .#{$prefix}-log-type{
         color: #00a0d2;
      }
   }

   .#{$prefix}-log-message{
      color: #444;
   }

   .#{$prefix}-log-action{
      opacity: 1;
   }
}


.#{$prefix}-log-notification{
   position: fixed;
   z-index: 9999;
   width: 300px;
   left: 10px;
   bottom: 10px;
   background: #fff8e5;
   padding: 15px;
   margin: 0;
   border: 1px solid #ffb900;
   border-left-width: 4px;
   box-shadow: 0 1px 2px rgba(0,0,0,.2);

   .#{$prefix}-log-notification__name{
      font-weight: bold;
      margin-bottom: 5px;
   }

   .#{$prefix}-log-notification__close{
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      color: #ffb900;
   }

   p{
      margin: 0;
      font-style: italic;
   }
}

.#{$prefix}-action{
   margin: 0 0 10px;
   padding: 0 0 10px;
   border-bottom: 1px solid #ddd;
}


.#{$prefix}-pagination{
   margin: 10px 0;
   padding: 0;

   li{
      display: inline;
   }
}